body {
  font-family: 'Raleway';
}

a:link {
    color: #A8A8A8;
}

a:visited {
    color: #A8A8A8;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

#header {
  padding: 30px 100px 30px 100px;
}

#logo {
  display: inline-block;
}

#topnav {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
}

#topnav ul {
  list-style: none;
}

#topnav li {
  display: inline-block;
  margin-right: 15px;
}

#bannerimg {
  width: 100%;
  float: left;
}

.mainbanner h1 {
  margin-left: 130px;
  margin-top: 120px;
  color: white;
  z-index: 2;
  position: absolute;
}

.mainbanner p {
  margin-top: 165px;
  margin-left: 130px;
  color: white;
  z-index: 2;
  position: absolute;
  font-weight: lighter;
}